<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--
            BotDetect configuration:

            If your project is not going to be using the Simple API,
            the "Simple API: ..." configuration lines bellow can be safely removed.

            If your project is not going to be using the Traditional API,
            the "Traditional API: ..." configuration lines bellow can be safely removed.
        -->
    <!-- Traditional API: Register the BotDetect's Configuration section -->
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies/>
    </compilation>
    <httpRuntime/>
    <!-- Traditional API: Ensuring Session State is enabled -->
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
    <httpHandlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests -->
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.4400.0.51, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers/>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers/>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers/>
    </roleManager>
    <!-- Traditional API: Register a custom SessionIDManager for BotDetect requests -->
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
  </system.web>
  <connectionStrings>
    <add name="AulacDbConnect" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=quanlycongviec_DB;User Id=sa;Password=123456;Connection Timeout=10;"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.4400.0.51, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="SimpleCaptchaEndpoint"/>
      <add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>